@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.bodyheader {
    font-size: 32px;
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 12px;
    border: 1px solid #000;
    border-radius: 12px;
}

input {
    border: 1px solid #000;
    max-width: 140px;
}

.formitem {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

#displaysection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 24px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.card {
    background-color: rgb(240, 240, 240);
    padding: 12px;
    border: 1px solid #000;
    min-height: 140px;
    border-radius: 12px;
}

p {
    padding: 0px;
    margin: 0px;
    padding-bottom: 8px;
    color: #251919;
}

.is_read {
    background-color: #367604;
    color: #fff;
}

.is_not_read {
    background-color: #ff0000;
    color: #fff;
}

button {
    font-weight: bold;
    padding: 8px;
    border-radius: 12px;
    margin-top: 20px;
    margin-right: 24px;
    border: 2px solid #000;;
}

.deletebutton {
    background-color: #ff0000;
    color: #fff;
}

form > div#errorAlertSlot > p {
    color: #ff3939;
    font-size: 14px;
}