@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  border: 1px solid #000;
  width: 750px;
  height: 400px;
  padding: 20px;
  overflow: hidden;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}
