.container {
    display: grid;
    /* grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px); */
    grid-template: 50px 50px / 50px 50px;
    grid-gap: 32px;
}

.container > div {
    background-color: #987c7c;
    padding: 5px;
}