/* universal selector (*)
* {
    color: purple;
} */

/* type selector (only selects listed elements)
div {
    color: green;
} */

/* class selector (only selects listed classes)
.alert-text {
    color: red;
} */

/* id selector (only lists selected ids)
#redbackground {
    background-color: red;
} */

/* can add multiple types together to reduce repetition (in this example i wanted to make both text colors blue but let them have different background colors)
.blue1, .blue2 {
    color: blue;
}

.blue1 {
    background-color: turquoise;
}

.blue2 {
    background-color: green;
} */

/* chaining selectors example (only selects elements with both the subsection and header classes)
.subsection.header {
    color: red;
  } */

/* chaining a class and a id
.subsection#preview {
    color: blue;
} */

.ancestor .contents {
    color: purple;
}