.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: gray;
    align-items: center;
}

.header .links {
    display: flex;
    gap: 16px;
}

.header .logo {
    color: yellow;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: yellow;
}

body {
    margin: 0px;
}