body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 576px;
    width: 576px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    height: 16px;
    width: 16px;
    border: 1px solid black;
}

.white_background {
    background-color: white;
}

.black_background {
    background-color: black;
}
