@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dad6d6;
}

.pagetitle {
    padding-top: 16px;
    font-size: 24px;
    font-weight: bold;
}

.textSection {
    font-size: 20px;
    font-weight: bold;
    padding: 32px;
}

.boardSection {
    height: 125px;
    width: 125px;
    background: #606ff1;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.boardSection:hover {
    background: rgb(218, 19, 218);
}

.gameBoard {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-gap: 12px;
    border-radius: 20px;
}